.language-switcher {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 102; /* Acima do menu e da sidebar */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 5px;
  display: flex;
  gap: 5px;
}

.language-switcher button {
  background: transparent;
  border: 2px solid #ccc; 
  color: #ccc;
  cursor: pointer;
  padding: 3px; 
  width: 30px;  
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

.language-switcher button:hover {
  border-color: #fff; /* Muda a cor da borda no hover */
}

.language-switcher button.active {
  border-color: #4da9ff; /* Borda azul para o ativo */
  box-shadow: 0 0 10px #4da9ff;
}

/* Estilo para a imagem dentro do botão */
.language-switcher button img {
  width: 100%;  /* Faz a imagem preencher o botão */
  height: auto;
}